<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>Sinatra on YAMLs</title>
    <script src="/turbolinks.js"></script>
  </head>

  <body>
    <a href="/tasks">Tasks</a>
    <a href="/notes">Notes</a>
    <%= yield %>
    <footer>
      Sinatra on YAMLs <%= version %>
    </footer>
  </body>
</html>
