<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>Sinatra on YAMLs</title>
    <script src="/turbolinks.js"></script>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body class="body">
    <header class="header">
      <a href="/notes">Notes</a>
    </header>
    <main class="main">
      <%= yield %>
    </main>
    <footer class="footer">
      Sinatra on YAMLs <%= version %>
    </footer>
  </body>
</html>
