<form class="" action="/tasks" accept-charset="UTF-8" method="post">

    <div class="">
	<label for="description">Description</label><br />
	<input autofocus="autofocus" class="" type="text" name="task[data]" id="description" />
    </div>

    <div class="">
	<input type="submit" name="commit" value="Save" class="" data-disable-with="Save" />
    </div>

</form>
