<div>
    <a href="<%= new_action %>">New Note</a>
    <table>
	<tr>
	    <th>Id</th>
	    <th>Title</th>
	    <th>Body</th>
	    <th></th>
	    <th></th>
	    <th></th>
	</tr>
	<% model.each do |item| %>	    
	    <%= NoteItemCell.new(item).call %>
	<% end %>
    </table>
</div>
