<div class="">
    <h1 for="title">Title</h1>
    <div>
	<%= title %>
    </div>
</div>

<div class="">
    <h1 for="body">Body</h1>
    <div>
	<%= body %>
    </div>
</div>

<div class="">
    <a href="<%= edit_action %>">
	Edit
    </a>
</div>
