<form class="" action="<%= update_action %>" accept-charset="UTF-8" method="post">
    <div class="">
	<label for="title">Title</label><br>
	<input autofocus="autofocus" class="" type="text" name="note[title]" id="title" value="<%= title %>" />
    </div>

    <div class="">
	<label for="body">Body</label><br>
	<input class="" type="text" name="note[body]" id="body"  value="<%= body %>"/>
    </div>

    <div class="">
	<input type="submit" name="commit" value="Save" class="" data-disable-with="Save" />
    </div>
</form>
